@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
h1,h2,h3,h4{
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}
p,span,div{
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
}